Screen {
    align: center top;
}

Select {
    width: 60;
    margin: 2;
}

ScrollableContainer {
    layout: vertical
}

Log {
    height: 100%
}

Horizontal {
    height: auto
}

Label {
    padding-top: 1;
    margin: 2
}

Input {
    margin: 2;
    width: 10;
}

Button {
    margin: 2;
}